## Skin Service Credit Balance

In [1]:
## Let's start at the beginning and import the libraries and reading the data
import pandas as pd
df_skin = pd.read_csv('balance_skin_services_data.csv')

In [2]:
## As always lets look at the data in order to make sure everything is ok
df_skin.head(15)

,Studio Name,Day of Issue Date,Day of Expire Date,Client ID,Full Name,Email,Phone #,Business Category,Credit Source,Credit Description,Initial Credit Count,Used Credit Count,Remaining Credits,Index,Max date
0,"Pinecrest, FL","March 11, 2022","March 11, 2024",417566,Candice - Carricarte,candice.carricarte@gmail.com,3057948070,Skin Health,Package,MB Migration,1,0,1,1,1/4/2024
1,"Pinecrest, FL","June 10, 2022","March 22, 2024",211522,Christine - Norwitch,cswitch@bellsouth.net,3053237243,Skin Health,Package,MB Migration,1,0,1,2,1/4/2024
2,"Pinecrest, FL","August 1, 2022","March 22, 2024",599282,Deborah - Marks,synergy928@aol.com,7868532700,Skin Health,Package,MB Migration,3,0,3,3,1/4/2024
3,"Pinecrest, FL","November 18, 2022","March 31, 2024",738230,Paula - Fay,wakefamily305@gmail.com,3052059002,Skin Health,Package,MB Migration,2,0,2,4,1/4/2024
4,"Pinecrest, FL","November 26, 2022","April 8, 2024",19951,Esther - Castleman,Esther.castleman@gmail.com,3058037482,Skin Health,Package,MB Migration,1,0,1,5,1/4/2024
5,"Pinecrest, FL","December 6, 2022","April 18, 2024",197473,Amarri - Irvin,amarti123@icloud.com,3054320537,Skin Health,Package,MB Migration,2,0,2,6,1/4/2024
6,"Pinecrest, FL","December 23, 2022","May 5, 2024",722186,Iris - Suarez,irisysuarez@gmail.com,3053455577,Skin Health,Package,MB Migration,1,0,1,7,1/4/2024
7,"Pinecrest, FL","January 19, 2023","June 1, 2024",175395,Alba - Davalos,1albadavalos@gmail.com,3059240092,Skin Health,Package,MB Migration,1,0,1,8,1/4/2024
8,"Pinecrest, FL","June 2, 2023","December 18, 2023",21249,Brittany - Crowley,Brittany.crowley@icloud.com,3058074939,Skin Health,Package,MB Migration,7,0,7,9,1/4/2024
9,"Pinecrest, FL","June 12, 2023","December 28, 2023",991605,Tina - Doobay,tina.doobay@gmail.com,7862879711,Skin Health,Package,MB Migration,3,0,3,10,1/4/2024
10,"Pinecrest, FL","June 20, 2023","December 28, 2023",862849,Sherie Huffman - Swerdlow,shs619@aol.com,3052138934,Skin Health,Package,Hydrafacial | Platinum | 3 Pack,1,0,1,11,1/4/2024
11,"Pinecrest, FL","August 23, 2023","December 1, 2023",30481978,Andres - Silveira,specmed1@bellsouth.net,7862532884,Skin Health,Package,Cryoskin Facial | 5 Pack,1,0,1,12,1/4/2024
12,"Pinecrest, FL","August 23, 2023","December 1, 2023",30481978,Andres - Silveira,specmed1@bellsouth.net,7862532884,Skin Health,Package,Cryoskin Facial Credit,1,0,1,13,1/4/2024
13,"Pinecrest, FL","August 26, 2023","December 4, 2023",30543206,Ashley - Rosen,ashley@fullycommitted.com,6463301606,Skin Health,Package,Circadia Oxygen Facial | 3 Pack,3,0,3,14,1/4/2024
14,"Pinecrest, FL","August 26, 2023","December 4, 2023",30543206,Ashley - Rosen,ashley@fullycommitted.com,6463301606,Skin Health,Package,Circadia Oxygen Facial Credit,1,0,1,15,1/4/2024

In [3]:
## Now we can get rid of columns that we don't need and redefine the variable
df_skin = df_skin.drop(columns=['Studio Name', 'Day of Issue Date', 'Day of Expire Date', 'Client ID', 'Business Category', 'Credit Source', 'Initial Credit Count', 'Used Credit Count', 'Index', 'Max date'])

## Printing
df_skin.head(10)

,Full Name,Email,Phone #,Credit Description,Remaining Credits
0,Candice - Carricarte,candice.carricarte@gmail.com,3057948070,MB Migration,1
1,Christine - Norwitch,cswitch@bellsouth.net,3053237243,MB Migration,1
2,Deborah - Marks,synergy928@aol.com,7868532700,MB Migration,3
3,Paula - Fay,wakefamily305@gmail.com,3052059002,MB Migration,2
4,Esther - Castleman,Esther.castleman@gmail.com,3058037482,MB Migration,1
5,Amarri - Irvin,amarti123@icloud.com,3054320537,MB Migration,2
6,Iris - Suarez,irisysuarez@gmail.com,3053455577,MB Migration,1
7,Alba - Davalos,1albadavalos@gmail.com,3059240092,MB Migration,1
8,Brittany - Crowley,Brittany.crowley@icloud.com,3058074939,MB Migration,7
9,Tina - Doobay,tina.doobay@gmail.com,7862879711,MB Migration,3

In [23]:
## We'll also rename the columns to make them easily usable and redefine the varible
df_skin = df_skin.rename(columns={'Full Name': 'full_name'})
df_skin = df_skin.rename(columns={'Phone #': 'phone'})
df_skin = df_skin.rename(columns={'Credit Description': 'credit_description'})
df_skin = df_skin.rename(columns={'Remaining Credits': 'remaining_credits'})

## Printing
df_skin.head(10)

,full_name,phone,credit_description,remaining_credits
0,Chloe - Markey,7864502530,Circadia Oxygen Facial | 10 Pack,9
1,Erika - Cappiello,3054408487,Circadia Oxygen Facial | 10 Pack,1
2,Erika - Cappiello,3054408487,Circadia Oxygen Facial | 10 Pack,9
3,Ashley - Rosen,6463301606,Circadia Oxygen Facial | 3 Pack,3
4,Kenny - Sharkey,3052194000,Circadia Oxygen Facial | 5 Pack,5
5,Valeria - Arias-Ferro,3052058890,Circadia Oxygen Facial | 5 Pack,1
6,Valeria - Arias-Ferro,3052058890,Circadia Oxygen Facial | 5 Pack,3
7,Ashley - Rosen,6463301606,Circadia Oxygen Facial Credit,1
8,Maria Claudia - Savage,7862806222,Circadia Oxygen Facial Credit,1
9,Susan - Stevens,4233603104,Circadia Oxygen Facial Credit,1

In [30]:
## There are going to be some decrepencies with this because some of the data from the 'Remainind Credits' column might not have numbers
## Because of that, I'm going to go ahead and get rid of them as they will mess up the calculations
df_skin = df_skin.dropna()

## Printing
df_skin.head(10)

,full_name,phone,credit_description,remaining_credits,initial_credits
0,Chloe - Markey,7864502530,Circadia Oxygen Facial | 10 Pack,9,10
1,Erika - Cappiello,3054408487,Circadia Oxygen Facial | 10 Pack,1,10
2,Erika - Cappiello,3054408487,Circadia Oxygen Facial | 10 Pack,9,10
3,Ashley - Rosen,6463301606,Circadia Oxygen Facial | 3 Pack,3,3
4,Kenny - Sharkey,3052194000,Circadia Oxygen Facial | 5 Pack,5,5
5,Valeria - Arias-Ferro,3052058890,Circadia Oxygen Facial | 5 Pack,1,5
6,Valeria - Arias-Ferro,3052058890,Circadia Oxygen Facial | 5 Pack,3,5
10,Lois - Bonwit,3052814569,Cryoskin Facial | 3 Pack,2,3
11,Teresa - Seda,7876616297,Cryoskin Facial | 3 Pack,1,3
12,Andres - Silveira,7862532884,Cryoskin Facial | 5 Pack,1,5

<font size="5">Working with bad data</font>

In [31]:
## We need to get the initial credits in an integer in order to perform calculations
## Since we are wokring with data that does not give us the init
df_skin['initial_credits'] = df_skin['credit_description'].astype(str).str.extract(r'(\d+)', expand=False)

## Printing
df_skin.head(10)

,full_name,phone,credit_description,remaining_credits,initial_credits
0,Chloe - Markey,7864502530,Circadia Oxygen Facial | 10 Pack,9,10
1,Erika - Cappiello,3054408487,Circadia Oxygen Facial | 10 Pack,1,10
2,Erika - Cappiello,3054408487,Circadia Oxygen Facial | 10 Pack,9,10
3,Ashley - Rosen,6463301606,Circadia Oxygen Facial | 3 Pack,3,3
4,Kenny - Sharkey,3052194000,Circadia Oxygen Facial | 5 Pack,5,5
5,Valeria - Arias-Ferro,3052058890,Circadia Oxygen Facial | 5 Pack,1,5
6,Valeria - Arias-Ferro,3052058890,Circadia Oxygen Facial | 5 Pack,3,5
10,Lois - Bonwit,3052814569,Cryoskin Facial | 3 Pack,2,3
11,Teresa - Seda,7876616297,Cryoskin Facial | 3 Pack,1,3
12,Andres - Silveira,7862532884,Cryoskin Facial | 5 Pack,1,5

In [32]:
## If we tried to iterrate through the rows and do our calculations, it wont work
## Let's see why it won't
df_skin.dtypes

full_name             object
phone                  int64
credit_description    object
remaining_credits      int64
initial_credits       object
dtype: object

In [33]:
## As you can see, the new initial credits is seen as an object
## We can change this by turning it into a string type and then an integer
df_skin['initial_credits'] = df_skin['initial_credits'].astype(str).astype(int)

## Now let's check
df_skin.dtypes

full_name             object
phone                  int64
credit_description    object
remaining_credits      int64
initial_credits        int32
dtype: object

In [35]:
## Let start performing calculations
skin_list = []

for index, row in df_skin.iterrows():
    remaining = row['remaining_credits']
    initial = row['initial_credits']
    calculated_percentage = (remaining / initial) * 100
    utilization = 100 - calculated_percentage
    if utilization > 60:
        my_list = [row.full_name, row.phone, row.credit_description, row.remaining_credits]
        skin_list.append(my_list)

## Printing
skin_list

[['Erika - Cappiello', 3054408487, 'Circadia Oxygen Facial | 10 Pack', 1],
 ['Valeria - Arias-Ferro', 3052058890, 'Circadia Oxygen Facial | 5 Pack', 1],
 ['Teresa - Seda', 7876616297, 'Cryoskin Facial | 3 Pack', 1],
 ['Andres - Silveira', 7862532884, 'Cryoskin Facial | 5 Pack', 1],
 ['Sherie Huffman - Swerdlow',
  3052138934,
  'Hydrafacial | Platinum | 3 Pack',
  1],
 ['Ashley - Rosen', 6463301606, 'Hydrafacial | Premium | 3 Pack', 1],
 ['Charlotte - De Paula', 3058019051, 'Hydrafacial | Signature | 5 Pack', 1]]

## Making the List actionable

In [36]:
## Now that we have the list, let's turn it into a dataframe
core_list_df = pd.DataFrame(skin_list, columns=['Full Name', 'Phone Number', 'Credit Description', 'Remaining Credits'])

## Printing
core_list_df

,Full Name,Phone Number,Credit Description,Remaining Credits
0,Erika - Cappiello,3054408487,Circadia Oxygen Facial | 10 Pack,1
1,Valeria - Arias-Ferro,3052058890,Circadia Oxygen Facial | 5 Pack,1
2,Teresa - Seda,7876616297,Cryoskin Facial | 3 Pack,1
3,Andres - Silveira,7862532884,Cryoskin Facial | 5 Pack,1
4,Sherie Huffman - Swerdlow,3052138934,Hydrafacial | Platinum | 3 Pack,1
5,Ashley - Rosen,6463301606,Hydrafacial | Premium | 3 Pack,1
6,Charlotte - De Paula,3058019051,Hydrafacial | Signature | 5 Pack,1

In [37]:
## Since that looks good, we can turn that into an excel sheet and send it to the reps
core_list_df.to_excel('Remaining Skin Credits.xlsx')