In [18]:
## Load Libs
import pandas as pd

In [19]:
## Import Datasets
df = pd.read_csv('feb-march.csv')
df

,Studio Code,Purchase Date,Invoice ID,Client ID,First Name,Last Name,Email,Phone #,Therapy Category,Business Category,Item,Sales Rep,Autopay Status,Tax Amount,Amount,Discount,Gross adjusted Revenue,Credit Used,Quantity
0,FL005,2/1/2024,31912738,98738,Paul,Griffin,griffter73@mac.com,2.038149e+09,IV Drips,Medical Services,Base IV Drip,NaN,In Studio Purchase,0,NaN,132.0,0.0,4,1
1,FL005,2/1/2024,31913144,30553856,Carlos,Rodriguez,carlos@kexport.info,7.863446e+09,IV Drips,Medical Services,Base IV Drip,NaN,In Studio Purchase,0,NaN,180.0,0.0,4,1
2,FL005,2/1/2024,31913151,30548096,Zuleima,Ramirez,zuramirez28@gmail.com,7.863446e+09,IV Drips,Medical Services,Base IV Drip,NaN,In Studio Purchase,0,NaN,180.0,0.0,1,1
3,FL005,2/1/2024,31913273,641373,Maryorie,Martinez,martinezlandaetamaryorie@gmail.com,7.864705e+09,IV Drips,Medical Services,NAD+ IV Drip Therapy 500mg,NaN,In Studio Purchase,0,NaN,773.0,0.0,1,1
4,FL005,2/1/2024,31913315,856587,Juan,Anillo,janillo1943@gmail.com,7.864738e+09,mHbOT,Medical Services,mHbOT | 60 min,NaN,In Studio Purchase,0,NaN,90.0,0.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020,FL005,3/30/2024,32349328,30778921,Rebecca,Battles,rebecca.battles@ymail.com,2.146798e+09,IV Ingredients,Medical Services,Taurine,NaN,In Studio Purchase,0,NaN,0.0,0.0,0,1
2021,FL005,3/30/2024,32349350,957039,Liz,Sanderson,elizabeth.h.sanderson@gmail.com,6.462078e+09,mHbOT,Medical Services,mHbOT | 60 min,NaN,In Studio Purchase,0,NaN,90.0,0.0,1,1
2022,FL005,3/30/2024,32349362,123167,Steven,George,ssteven98@yahoo.com,7.322108e+09,IV Drips,Medical Services,Base IV Drip,NaN,In Studio Purchase,0,NaN,132.0,0.0,0,1
2023,FL005,3/30/2024,32349795,856587,Juan,Anillo,janillo1943@gmail.com,7.864738e+09,mHbOT,Medical Services,mHbOT | 60 min,NaN,In Studio Purchase,0,NaN,90.0,0.0,1,1
2024,FL005,3/30/2024,32349889,933060,Sheri,Murray,sherim@aol.com,1.305301e+10,IM Shots,Medical Services,IM Shot B12,NaN,In Studio Purchase,0,NaN,50.0,0.0,1,1

In [20]:
df = df[['First Name', 'Last Name', 'Email', 'Phone #', 'Item', 'Gross adjusted Revenue', 'Credit Used', 'Discount']]
df = df.dropna()

In [21]:
df = df.loc[(df['Item'] == 'Base IV Drip') & (df['Credit Used'] == 4) & (df['Discount'] == 132) | (df['Item'] == 'Immunity') | (df['Item'] == 'Energy') | (df['Item'] == 'Recovery') | (df['Item'] == 'Age-Defying')]
df

,First Name,Last Name,Email,Phone #,Item,Gross adjusted Revenue,Credit Used,Discount
0,Paul,Griffin,griffter73@mac.com,2.038149e+09,Base IV Drip,0.0,4,132.0
10,Nancy,Patterson,npatterson86@gmail.com,3.059707e+09,Base IV Drip,0.0,4,132.0
17,Jennifer,Acosta,jennie2903@gmail.com,3.054097e+09,Base IV Drip,0.0,4,132.0
38,Connor,Kelly,connor.m.kelly6@gmail.com,2.039935e+09,Base IV Drip,0.0,4,132.0
56,Ethel,Ricardo,ethelricardo@bellsouth.net,3.055428e+09,Immunity,135.0,0,45.0
...,...,...,...,...,...,...,...,...
1934,Karen,Holtzman,miamiwaterman@aol.com,7.868778e+09,Base IV Drip,0.0,4,132.0
1974,Lissette,Aguila,lissette30@hotmail.com,7.862952e+09,Base IV Drip,0.0,4,132.0
1992,Jacob,Arana,jacobarana@hotmail.com,2.149911e+09,Base IV Drip,0.0,4,132.0
2001,Luz,Vidaurre,luzviviana18@yahoo.com,3.059859e+09,Base IV Drip,0.0,4,132.0
2009,Jennifer,Acosta,jennie2903@gmail.com,3.054097e+09,Base IV Drip,0.0,4,132.0

In [22]:
df = df[['First Name', 'Last Name', 'Email', 'Phone #']]
df

     First Name  Last Name                       Email       Phone #
0          Paul    Griffin          griffter73@mac.com  2.038149e+09
10        Nancy  Patterson      npatterson86@gmail.com  3.059707e+09
17     Jennifer     Acosta        jennie2903@gmail.com  3.054097e+09
38       Connor      Kelly   connor.m.kelly6@gmail.com  2.039935e+09
56        Ethel    Ricardo  ethelricardo@bellsouth.net  3.055428e+09
...         ...        ...                         ...           ...
1934      Karen   Holtzman       miamiwaterman@aol.com  7.868778e+09
1974   Lissette     Aguila      lissette30@hotmail.com  7.862952e+09
1992      Jacob      Arana      jacobarana@hotmail.com  2.149911e+09
2001        Luz   Vidaurre      luzviviana18@yahoo.com  3.059859e+09
2009   Jennifer     Acosta        jennie2903@gmail.com  3.054097e+09

[196 rows x 4 columns]

In [23]:
df = df.reset_index()
df

     index First Name  Last Name                       Email       Phone #
0        0       Paul    Griffin          griffter73@mac.com  2.038149e+09
1       10      Nancy  Patterson      npatterson86@gmail.com  3.059707e+09
2       17   Jennifer     Acosta        jennie2903@gmail.com  3.054097e+09
3       38     Connor      Kelly   connor.m.kelly6@gmail.com  2.039935e+09
4       56      Ethel    Ricardo  ethelricardo@bellsouth.net  3.055428e+09
..     ...        ...        ...                         ...           ...
191   1934      Karen   Holtzman       miamiwaterman@aol.com  7.868778e+09
192   1974   Lissette     Aguila      lissette30@hotmail.com  7.862952e+09
193   1992      Jacob      Arana      jacobarana@hotmail.com  2.149911e+09
194   2001        Luz   Vidaurre      luzviviana18@yahoo.com  3.059859e+09
195   2009   Jennifer     Acosta        jennie2903@gmail.com  3.054097e+09

[196 rows x 5 columns]

In [24]:
df = df.drop(columns=['index'])
df

    First Name  Last Name                       Email       Phone #
0         Paul    Griffin          griffter73@mac.com  2.038149e+09
1        Nancy  Patterson      npatterson86@gmail.com  3.059707e+09
2     Jennifer     Acosta        jennie2903@gmail.com  3.054097e+09
3       Connor      Kelly   connor.m.kelly6@gmail.com  2.039935e+09
4        Ethel    Ricardo  ethelricardo@bellsouth.net  3.055428e+09
..         ...        ...                         ...           ...
191      Karen   Holtzman       miamiwaterman@aol.com  7.868778e+09
192   Lissette     Aguila      lissette30@hotmail.com  7.862952e+09
193      Jacob      Arana      jacobarana@hotmail.com  2.149911e+09
194        Luz   Vidaurre      luzviviana18@yahoo.com  3.059859e+09
195   Jennifer     Acosta        jennie2903@gmail.com  3.054097e+09

[196 rows x 4 columns]

In [27]:
df.drop_duplicates(subset=['Last Name'], keep='last', inplace=True)
df

    First Name  Last Name                       Email       Phone #
1        Nancy  Patterson      npatterson86@gmail.com  3.059707e+09
4        Ethel    Ricardo  ethelricardo@bellsouth.net  3.055428e+09
5         Paul    Griffin          griffter73@mac.com  2.038149e+09
6    Claudette      Casal      claudettecasal@att.net  3.056064e+09
7      Enrique    Arriola        eaac2112@hotmail.com  7.866089e+09
..         ...        ...                         ...           ...
191      Karen   Holtzman       miamiwaterman@aol.com  7.868778e+09
192   Lissette     Aguila      lissette30@hotmail.com  7.862952e+09
193      Jacob      Arana      jacobarana@hotmail.com  2.149911e+09
194        Luz   Vidaurre      luzviviana18@yahoo.com  3.059859e+09
195   Jennifer     Acosta        jennie2903@gmail.com  3.054097e+09

[119 rows x 4 columns]

In [28]:
df.to_excel('Members who have done Base IVs in the past 2 Months.xlsx')