## Core Service Credit Balance

In [2]:
## Let's start at the beginning and import the libraries and reading the data
import pandas as pd
df_core = pd.read_csv('balance_core_services.csv')

In [3]:
## As always lets look at the data in order to make sure everything is ok
df_core.head(15)

,Studio Name,Day of Issue Date,Day of Expire Date,Client ID,Full Name,Email,Phone #,Credit Description,Remaining Credits,Max date
0,"Pinecrest, FL","August 19, 2023","January 27, 2024",234274,Valeria - Arias-Ferro,valeria_arias_esq@yahoo.com,3052058890,Core Credit,1,12/20/2023
1,"Pinecrest, FL","August 24, 2023","December 2, 2023",30542361,Benjamin - Spande,ben.spande@gmail.com,7632383546,Core Credit,1,12/20/2023
2,"Pinecrest, FL","October 19, 2023","January 27, 2024",948426,Maria - Barrios-Mendez,mebm78@gmail.com,7868973729,Core Credit,1,12/20/2023
3,"Pinecrest, FL","October 21, 2023","January 29, 2024",291789,Jimmi - Chaplin,jswny2004@aol.com,7049956320,Core Credit,1,12/20/2023
4,"Pinecrest, FL","October 21, 2023","January 29, 2024",30590960,Katrina - Kazakos,katrinakazakos90@gmail.com,7868126609,Core Credit,1,12/20/2023
5,"Pinecrest, FL","December 19, 2023","March 28, 2024",30606868,Babette - Estrada,babettee@yahoo.com,3052973269,Core Credit,2,12/20/2023
6,"Pinecrest, FL","August 6, 2023","February 22, 2024",30481978,Andres - Silveira,specmed1@bellsouth.net,7862532884,Core Service | 10 Pack,10,12/20/2023
7,"Pinecrest, FL","August 19, 2023","March 6, 2024",234274,Valeria - Arias-Ferro,valeria_arias_esq@yahoo.com,3052058890,Core Service | 10 Pack,10,12/20/2023
8,"Pinecrest, FL","September 6, 2023","March 23, 2024",30559053,Fiu - Soccer,nsalemi@fiu.edu,3053480303,Core Service | 10 Pack,30,12/20/2023
9,"Pinecrest, FL","September 29, 2023","April 16, 2024",795168,Michael - Rodriguez,michael7777@aol.com,7862553155,Core Service | 10 Pack,4,12/20/2023
10,"Pinecrest, FL","October 2, 2023","April 19, 2024",30574956,Amy - Roberts,imamyr@gmail.com,3058987115,Core Service | 10 Pack,8,12/20/2023
11,"Pinecrest, FL","October 10, 2023","April 27, 2024",122648,Randi - Shannon,randishannon@gmail.com,3054914597,Core Service | 10 Pack,10,12/20/2023
12,"Pinecrest, FL","October 24, 2023","May 11, 2024",30589516,Vaidehi - Godhania,godhania@gmail.com,5127710765,Core Service | 10 Pack,8,12/20/2023
13,"Pinecrest, FL","November 10, 2023","May 28, 2024",934233,Carlos - Sluman,sluman@be-liv.com,7875019919,Core Service | 10 Pack,3,12/20/2023
14,"Pinecrest, FL","December 2, 2023","June 19, 2024",221602,Jenny - Wade,eldercare305@aol.com,3058019357,Core Service | 10 Pack,10,12/20/2023

In [4]:
## Now we can get rid of columns that we don't need and redefine the variable
df_core = df_core.drop(columns=['Studio Name', 'Day of Issue Date', 'Day of Expire Date', 'Client ID', 'Email', 'Max date'])

## Printing
df_core

,Full Name,Phone #,Credit Description,Remaining Credits
0,Valeria - Arias-Ferro,3052058890,Core Credit,1
1,Benjamin - Spande,7632383546,Core Credit,1
2,Maria - Barrios-Mendez,7868973729,Core Credit,1
3,Jimmi - Chaplin,7049956320,Core Credit,1
4,Katrina - Kazakos,7868126609,Core Credit,1
...,...,...,...,...
119,Ron - Derrick,3057944366,Core Service | 5 Pack,5
120,Mark - Perez,8183178899,Core Service | 5 Pack,1
121,Jeffrey - Epstein,7862529862,Core Service | 5 Pack,3
122,stephanie - sabellico,3055100798,Core Service | 5 Pack,5
123,Greg - Haller,3052988213,Core Service | 5 Pack,5

In [5]:
## We'll also rename the columns to make them easily usable and redefine the varible
df_core = df_core.rename(columns={'Full Name': 'full_name'})
df_core = df_core.rename(columns={'Phone #': 'phone'})
df_core = df_core.rename(columns={'Credit Description': 'credit_description'})
df_core = df_core.rename(columns={'Remaining Credits': 'remaining_credits'})

## Printing
df_core

,full_name,phone,credit_description,remaining_credits
0,Valeria - Arias-Ferro,3052058890,Core Credit,1
1,Benjamin - Spande,7632383546,Core Credit,1
2,Maria - Barrios-Mendez,7868973729,Core Credit,1
3,Jimmi - Chaplin,7049956320,Core Credit,1
4,Katrina - Kazakos,7868126609,Core Credit,1
...,...,...,...,...
119,Ron - Derrick,3057944366,Core Service | 5 Pack,5
120,Mark - Perez,8183178899,Core Service | 5 Pack,1
121,Jeffrey - Epstein,7862529862,Core Service | 5 Pack,3
122,stephanie - sabellico,3055100798,Core Service | 5 Pack,5
123,Greg - Haller,3052988213,Core Service | 5 Pack,5

<font size="5">Working with bad data</font>

In [6]:
## We need to get the initial credits in an integer in order to perform calculations
## Since we are wokring with data that does not give us the init
df_core['initial_credits'] = df_core['credit_description'].astype(str).str.extract(r'(\d+)', expand=False)

## Printing
df_core

,full_name,phone,credit_description,remaining_credits,initial_credits
0,Valeria - Arias-Ferro,3052058890,Core Credit,1,NaN
1,Benjamin - Spande,7632383546,Core Credit,1,NaN
2,Maria - Barrios-Mendez,7868973729,Core Credit,1,NaN
3,Jimmi - Chaplin,7049956320,Core Credit,1,NaN
4,Katrina - Kazakos,7868126609,Core Credit,1,NaN
...,...,...,...,...,...
119,Ron - Derrick,3057944366,Core Service | 5 Pack,5,5
120,Mark - Perez,8183178899,Core Service | 5 Pack,1,5
121,Jeffrey - Epstein,7862529862,Core Service | 5 Pack,3,5
122,stephanie - sabellico,3055100798,Core Service | 5 Pack,5,5
123,Greg - Haller,3052988213,Core Service | 5 Pack,5,5

In [11]:
## There are some core credits that are named "Core Credit." We don't need that one because they don't have integers for us to perform calculations
## Since we created the initial credits list, we can see that the ones with 'core credit' description gives us NaN
## This is perfect because now we can use the dropna() function to go ahead and get rid of those rows 
df_core = df_core.dropna()

## Printing
df_core

,full_name,phone,credit_description,remaining_credits,initial_credits
6,Andres - Silveira,7862532884,Core Service | 10 Pack,10,10
7,Valeria - Arias-Ferro,3052058890,Core Service | 10 Pack,10,10
8,Fiu - Soccer,3053480303,Core Service | 10 Pack,30,10
9,Michael - Rodriguez,7862553155,Core Service | 10 Pack,4,10
10,Amy - Roberts,3058987115,Core Service | 10 Pack,8,10
...,...,...,...,...,...
119,Ron - Derrick,3057944366,Core Service | 5 Pack,5,5
120,Mark - Perez,8183178899,Core Service | 5 Pack,1,5
121,Jeffrey - Epstein,7862529862,Core Service | 5 Pack,3,5
122,stephanie - sabellico,3055100798,Core Service | 5 Pack,5,5
123,Greg - Haller,3052988213,Core Service | 5 Pack,5,5

In [13]:
## If we tried to iterrate through the rows and do our calculations, it wont work
## Let's see why it won't
df_core.dtypes

full_name             object
phone                  int64
credit_description    object
remaining_credits      int64
initial_credits       object
dtype: object

In [14]:
## As you can see, the new initial credits is seen as an object
## We can change this by turning it into a string type and then an integer
df_core['initial_credits'] = df_core['initial_credits'].astype(str).astype(int)

## Now let's check
df_core.dtypes

C:\Users\jason\AppData\Local\Temp\ipykernel_17736\3452177653.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_core['initial_credits'] = df_core['initial_credits'].astype(str).astype(int)

full_name             object
phone                  int64
credit_description    object
remaining_credits      int64
initial_credits        int32
dtype: object

In [15]:
## Let start performing calculations
core_list = []

for index, row in df_core.iterrows():
    remaining = row['remaining_credits']
    initial = row['initial_credits']
    calculated_percentage = (remaining / initial) * 100
    utilization = 100 - calculated_percentage
    if utilization > 60:
        my_list = [row.full_name, row.phone, row.credit_description, row.remaining_credits]
        core_list.append(my_list)

## Printing
core_list

[['Carlos - Sluman', 7875019919, 'Core Service | 10 Pack', 3],
 ['Lisa - Sloane', 7863741041, 'Core Service | 3 Pack', 1],
 ['Elizabeth - Guaico', 13054095422, 'Core Service | 3 Pack', 1],
 ['Amy - Brannon', 3052987333, 'Core Service | 3 Pack', 1],
 ['Ariel - Guanoluisa', 7863651958, 'Core Service | 3 Pack', 1],
 ['Paul - Sotolongo', 7869705774, 'Core Service | 3 Pack', 1],
 ['Katherine - Ramos', 3057481733, 'Core Service | 3 Pack', 1],
 ['Abby - Martinez', 7863197591, 'Core Service | 3 Pack', 1],
 ['Raul - Marcano', 3059925865, 'Core Service | 3 Pack', 1],
 ['Todd - Hochstadt', 3106634466, 'Core Service | 3 Pack', 1],
 ['Jimmi - Chaplin', 7049956320, 'Core Service | 3 Pack', 1],
 ['Lucas - Goenaga', 3059656976, 'Core Service | 3 Pack', 1],
 ['Diana - Botta', 3057534143, 'Core Service | 3 Pack', 1],
 ['CHIQUI - DELGADO', 7864737664, 'Core Service | 3 Pack', 1],
 ['Roxanne - Rissing', 6784811389, 'Core Service | 3 Pack', 1],
 ['Mael - Garcia', 7863940770, 'Core Service | 3 Pack', 1],
 ['Julio - Rodriguez', 7862002928, 'Core Service | 3 Pack', 1],
 ['Lyn - Gonzalez', 7865275443, 'Core Service | 3 Pack', 1],
 ['Erick - Percy', 9548509617, 'Core Service | 3 Pack', 1],
 ['John - Culbertson', 13059684707, 'Core Service | 3 Pack', 1],
 ['Pedro - Chavez', 3052441540, 'Core Service | 3 Pack', 1],
 ['Christina - Mahoney', 5408346840, 'Core Service | 3 Pack', 1],
 ['Yuehan - Zhao', 13054849054, 'Core Service | 3 Pack', 1],
 ['Jacob - Gonzalez', 3055252960, 'Core Service | 3 Pack', 1],
 ['Yamir - Laboy', 3057724513, 'Core Service | 3 Pack', 1],
 ['Diego - Ayala', 7868620675, 'Core Service | 3 Pack', 1],
 ['Justin - Guzzo', 3058035706, 'Core Service | 3 Pack', 1],
 ['Angel - Sajous', 3057983939, 'Core Service | 3 Pack', 1],
 ['Landy - Labadie', 3053974473, 'Core Service | 3 Pack', 1],
 ['Bella - Rozay', 7866659820, 'Core Service | 3 Pack', 1],
 ['Alice - Mendes', 2039217993, 'Core Service | 3 Pack', 1],
 ['Hannah - Hartley', 3052979110, 'Core Service | 3 Pack', 1],
 ['Iraida - Garcia', 3052447536, 'Core Service | 3 Pack', 1],
 ['Alain - Piloto-Rios', 5024359577, 'Core Service | 3 Pack', 1],
 ['Marchetti - Anthoney', 4108049688, 'Core Service | 3 Pack', 1],
 ['Victor - Calvo', 3059922129, 'Core Service | 3 Pack', 1],
 ['Jennifer - Linares', 3053890464, 'Core Service | 3 Pack', 1],
 ['Mark - Perez', 8183178899, 'Core Service | 5 Pack', 1]]

## Making the List actionable

In [16]:
## Now that we have the list, let's turn it into a dataframe
core_list_df = pd.DataFrame(core_list, columns=['Full Name', 'Phone Number', 'Credit Description', 'Remaining Credits'])

## Printing
core_list_df

,Full Name,Phone Number,Credit Description,Remaining Credits
0,Carlos - Sluman,7875019919,Core Service | 10 Pack,3
1,Lisa - Sloane,7863741041,Core Service | 3 Pack,1
2,Elizabeth - Guaico,13054095422,Core Service | 3 Pack,1
3,Amy - Brannon,3052987333,Core Service | 3 Pack,1
4,Ariel - Guanoluisa,7863651958,Core Service | 3 Pack,1
5,Paul - Sotolongo,7869705774,Core Service | 3 Pack,1
6,Katherine - Ramos,3057481733,Core Service | 3 Pack,1
7,Abby - Martinez,7863197591,Core Service | 3 Pack,1
8,Raul - Marcano,3059925865,Core Service | 3 Pack,1
9,Todd - Hochstadt,3106634466,Core Service | 3 Pack,1
10,Jimmi - Chaplin,7049956320,Core Service | 3 Pack,1
11,Lucas - Goenaga,3059656976,Core Service | 3 Pack,1
12,Diana - Botta,3057534143,Core Service | 3 Pack,1
13,CHIQUI - DELGADO,7864737664,Core Service | 3 Pack,1
14,Roxanne - Rissing,6784811389,Core Service | 3 Pack,1
15,Mael - Garcia,7863940770,Core Service | 3 Pack,1
16,Julio - Rodriguez,7862002928,Core Service | 3 Pack,1
17,Lyn - Gonzalez,7865275443,Core Service | 3 Pack,1
18,Erick - Percy,9548509617,Core Service | 3 Pack,1
19,John - Culbertson,13059684707,Core Service | 3 Pack,1
20,Pedro - Chavez,3052441540,Core Service | 3 Pack,1
21,Christina - Mahoney,5408346840,Core Service | 3 Pack,1
22,Yuehan - Zhao,13054849054,Core Service | 3 Pack,1
23,Jacob - Gonzalez,3055252960,Core Service | 3 Pack,1
24,Yamir - Laboy,3057724513,Core Service | 3 Pack,1
25,Diego - Ayala,7868620675,Core Service | 3 Pack,1
26,Justin - Guzzo,3058035706,Core Service | 3 Pack,1
27,Angel - Sajous,3057983939,Core Service | 3 Pack,1
28,Landy - Labadie,3053974473,Core Service | 3 Pack,1
29,Bella - Rozay,7866659820,Core Service | 3 Pack,1
30,Alice - Mendes,2039217993,Core Service | 3 Pack,1
31,Hannah - Hartley,3052979110,Core Service | 3 Pack,1
32,Iraida - Garcia,3052447536,Core Service | 3 Pack,1
33,Alain - Piloto-Rios,5024359577,Core Service | 3 Pack,1
34,Marchetti - Anthoney,4108049688,Core Service | 3 Pack,1
35,Victor - Calvo,3059922129,Core Service | 3 Pack,1
36,Jennifer - Linares,3053890464,Core Service | 3 Pack,1
37,Mark - Perez,8183178899,Core Service | 5 Pack,1

In [17]:
## Since that looks good, we can turn that into an excel sheet and send it to the reps
core_list_df.to_excel('Remaining Core Credits.xlsx')