1. Load previous month datasets
2. Load current months datasets
3. Locate where names are the same
4. Spit out the names that are on previous month but not on current month
5. Tell me how many of which membership is they were on in the previous month

In [1]:
## Load Pandas
import pandas as pd

In [2]:
## Import datasets
previous_df = pd.read_csv('march2023.csv')
current_df = pd.read_csv('january2024.csv')
current_df

,Studio Code,Purchase Date,Invoice ID,Client ID,First Name,Last Name,Email,Phone #,Therapy Category,Business Category,Item,Sales Rep,Autopay Status,Tax Amount,Amount,Discount,Gross adjusted Revenue,Quantity,Credit Used
0,FL005,1/1/2024,31700346,211522,Christine,Norwitch,cswitch@bellsouth.net,3.053237e+09,Memberships,Membership,Core Membership,NaN,Success,0,NaN,0.0,279.0,1,0
1,FL005,1/1/2024,31700347,599282,Deborah,Marks,synergy928@aol.com,7.868533e+09,Memberships,Membership,Level Up Membership,NaN,Success,0,NaN,0.0,199.0,1,0
2,FL005,1/1/2024,31700348,669466,Vane,V,mv4@gmail.com,7.862710e+09,Memberships,Membership,Discover Membership,NaN,Success,0,NaN,0.0,119.0,1,0
3,FL005,1/1/2024,31700349,706036,Paula,Samper,paulasamper040612@gmail.com,7.204437e+09,Memberships,Membership,Discover Membership,NaN,Success,0,NaN,0.0,107.1,1,0
4,FL005,1/1/2024,31700350,714362,Joel,Castillo,cjoel777@me.com,3.057937e+09,Memberships,Membership,Discover Membership,NaN,Success,0,NaN,0.0,119.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
337,FL005,1/31/2024,31904047,617498,Rafael,Arte,rarte26@outlook.com,7.865893e+09,Memberships,Membership,Discover Membership,NaN,Success,0,NaN,0.0,119.0,1,0
338,FL005,1/31/2024,31904048,781589,Mariangelli,Alvarez,mariangelli25@gmail.com,7.863545e+09,Memberships,Membership,Level Up Membership,NaN,Success,0,NaN,0.0,179.1,1,0
339,FL005,1/31/2024,31904049,30596936,Bionny,Ayala,bionnyayala@aol.com,3.052995e+09,Memberships,Membership,Discover Membership,NaN,Success,0,NaN,0.0,119.0,1,0
340,FL005,1/31/2024,31904050,957039,Liz,Sanderson,elizabeth.h.sanderson@gmail.com,6.462078e+09,Memberships,Membership,Level Up Membership,NaN,Success,0,NaN,0.0,199.0,1,0
341,FL005,1/31/2024,31904051,30635377,Sophia,Rodriguez Ruso,srruso26@gmail.com,3.054317e+09,Memberships,Membership,Level Up Membership,NaN,Success,0,NaN,0.0,199.0,1,0

In [3]:
## Clean data
previous_df = previous_df.drop(columns=['Studio Code', 'Purchase Date', 'Invoice ID', 'Client ID', 'Therapy Category', 'Business Category', 'Sales Rep', 'Autopay Status', 'Tax Amount', 'Amount', 'Discount', 'Gross adjusted Revenue', 'Quantity', 'Credit Used'])
current_df = current_df.drop(columns=['Studio Code', 'Purchase Date', 'Invoice ID', 'Client ID', 'Therapy Category', 'Business Category', 'Sales Rep', 'Autopay Status', 'Tax Amount', 'Amount', 'Discount', 'Gross adjusted Revenue', 'Quantity', 'Credit Used'])
previous_df

,First Name,Last Name,Email,Phone #,Item
0,Diana,Izeddin,gizeddin@yahoo.com,7863908851,Wellness Membership
1,Marsha,Goolcharan,actormarsha@gmail.com,3239831445,Discover Membership
2,Marcos,Molina,Mmolina25@yahoo.com,7863031151,Restore Membership
3,Amanda,Fuentes,my.amanda917@gmail.com,3053056025,Restore Membership
4,Brean,Beckford,breanromeo@aol.com,3057104492,Restore Membership
...,...,...,...,...,...
449,Heather,Metoyer,hmmetoyer@gmail.com,8138925252,Discover Membership
450,Yunitza,Gonzalez,gyunitza@yahoo.com,17863188973,Discover Membership
451,Melissa,Cancio,canciomelissa@yahoo.com,7864575107,Discover Membership
452,Rafael,Arte,rarte26@outlook.com,7865893488,Discover Membership
453,Anthony,Hevia,golasso@aol.com,3057942794,Discover Membership

In [4]:
## Combine Names
current_df['Name'] = current_df['First Name'] + ' ' + current_df['Last Name']
current_df = current_df.drop(columns=['First Name', 'Last Name'])
current_df = current_df[['Name', 'Email', 'Phone #', 'Item']]

previous_df['Name'] = previous_df['First Name'] + ' ' + previous_df['Last Name']
previous_df = previous_df.drop(columns=['First Name', 'Last Name'])
previous_df = previous_df[['Name', 'Email', 'Phone #', 'Item']]

## Printing
previous_df

,Name,Email,Phone #,Item
0,Diana Izeddin,gizeddin@yahoo.com,7863908851,Wellness Membership
1,Marsha Goolcharan,actormarsha@gmail.com,3239831445,Discover Membership
2,Marcos Molina,Mmolina25@yahoo.com,7863031151,Restore Membership
3,Amanda Fuentes,my.amanda917@gmail.com,3053056025,Restore Membership
4,Brean Beckford,breanromeo@aol.com,3057104492,Restore Membership
...,...,...,...,...
449,Heather Metoyer,hmmetoyer@gmail.com,8138925252,Discover Membership
450,Yunitza Gonzalez,gyunitza@yahoo.com,17863188973,Discover Membership
451,Melissa Cancio,canciomelissa@yahoo.com,7864575107,Discover Membership
452,Rafael Arte,rarte26@outlook.com,7865893488,Discover Membership
453,Anthony Hevia,golasso@aol.com,3057942794,Discover Membership

In [6]:
## Grab Names on previous df and put them in a list
lost_members = []

for index, row1 in previous_df.iterrows():
    for index, row2 in current_df.iterrows():
        name1 = row1['Name']
        name2= row2['Name']
        if name1 != name2:
            continue
        else:
            my_list = [row1['Name'], row1['Email'], row1['Phone #'], row1['Item']]
            lost_members.append(my_list)
            continue
    continue

lost_members

KeyboardInterrupt: